  
  <nav id="nav">
    <div id="head">
      <h1 class="h1">One Blog</h1>
      <p class="p">Superblog</p>
    </div>
    <div id="list">
      <ul >
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs">Blog</a></li>
      </ul>
    </div>
  </nav>
