<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head")%>
<body>

  <%-include("./partials/nav")%>
  <div>
    <h1>About</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, exercitationem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, natus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, aut?</p>
  </div>
  <%-include("./partials/footer")%>
</body>
</html>